<!DOCTYPE html>
<html>
   <head>
       <style>
           body{
               background-color: seagreen;
           }
           h2,h3{
               color: whitesmoke ;
               text-align: center;
               font: 10px;
           }
           .Back {
            background-color:green;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 20%;
            opacity: 0.9;
            }
          
       </style>
   </head>
   <body>
        <h3> Welcome </h3>
        <button type="submit" class="Back">Log Out</button>
    </body>