<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Home</title>
    <style>
        .input-group-prepend {
            width: 100%;
            font-size: medium;
        }
        .searchform label {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: large;
            padding-top: 0;
            padding-left: 8px;
        }
        #pop {
            text-align: center;
        }

    </style>
 
    <script>
        
        
        
        function search() {
 
            const request = new XMLHttpRequest();

            const value = document.querySelector('#search_item').value.trim();

            if (value.length === 0) {

                document.querySelector('#load').style.color = "red";
                document.querySelector('#load').innerHTML = "<br><b>You can't leave search bar empty<b>"
                return;
            }

            document.querySelector('#load').style.color = "black";

            request.open("POST" , "/api/Search")
            request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
 
            document.querySelector('#books').innerHTML = ""
            document.querySelector('#load').innerHTML = "<br><b>Loading Results<b>"
 
            request.onload = () => {
                
                const response = JSON.parse(request.responseText);
                
                if (request.status === 200) {
 
                    response.books.forEach(book => {
                    
                    document.querySelector('#load').innerHTML = ""
                    
                    let content = `
        
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top: 4%;">
 
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{ url_for('static', filename='Images/book.jpg') }}"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Title</h5>
                                        <p class="card-text"><b>${book.title}</b></p>
                                        <button type="submit" class="btn btn-primary" style="width: 150px;" onclick="Book(${book.isbn})">Review</button>
                                    </div>
                                </div>
                            </div>
                            
                            `;
 
                    document.querySelector('#books').innerHTML += content
 
                }); 
 
                } else {
                    document.querySelector('#load').style.color = "red";
                    document.querySelector('#load').innerHTML = "<br><b>" + response.error + "</b>";
                }                 
            }
 
            const jsonData = JSON.stringify({"search" : value})
            request.send(jsonData);
            return false;
        }

    /////      Function for bookpage  //// 

    function Book(isbn){
           const val = isbn
           console.log(val)
           const request = new XMLHttpRequest();
           request.open("POST" , "/api/book")
           request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
           document.querySelector('#books').innerHTML = ""
           document.querySelector('#books').innerHTML = "<br><b>Loading Results<b>"
          
           request.onload = () =>{
               const response = JSON.parse(request.responseText);
               document.querySelector('#books').innerHTML = ""      
               console.log(response)
               if (request.status === 200) {
                    
                   document.querySelector('#books').innerHTML = ""    
               
                   let displaydata = `
                   
                   <h2><u>Book  Page</u></h2>
                   <table class="table">
                       <thead class="thead-light">
                           <tr>
                               <th scope="col" class="bg-warning">Fields</th>
                               <th scope="col">Details</th>
                           </tr>
                           <tr>
                               <td class="bg-warning">ISBN No.</td>
                               <td class="table-light">${response.isbn}</td>
                               </tr>
                               <tr>
                                   <td class="bg-warning">Title</td>
                                   <td class="table-light">${response.title}</td>
                               </tr>
                               <tr>
                                   <td class="bg-warning">Author</td>
                                   <td class="table-light">${response.author}</td>
                               </tr>
                               
                               <tr>
                                   <td class="bg-warning">Average Reviews</td>
                                   <td class="table-light">${response.no_of_reviewers}</td>
                               </tr>
                                   <td class="bg-warning">No of reviewers</td>
                                   <td class="table-light">${response.rating}</td>   
                           </tr>
                       </tbody>`;
                   
                   document.querySelector('#books').innerHTML += displaydata
               }    
           }
           const jsonData = JSON.stringify({"search" :val})
           request.send(jsonData);
           return false;  
       }






</script>
</head>

<body>
    <div class="container">
 
        <div class="row" style="margin-top: 5%;">
            
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
 
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 
                <legend style="text-align: center;">Search Book</legend>
 
                <p>Search for your favourite book either by it's isbn or title or by author name or by it's published year</p>
 
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <input type="search" placeholder="" name="search_item" class="form-control" id="search_item"
                                aria-label="search_item" aria-describedby="basic-addon1" required>
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
 
                    <div>
                        <button type="submit" class="btn btn-primary" style="width: 150px;" onclick="search()">Search</button>
                    </div>
                    <p id="load" style="text-align: center;"></p>
                </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        </div>
 
        <div class="row" id="books">
        </div>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
 
</html>